body{
	background-color:#452689;
	margin:0px;
	padding:0px;
	
}

.container-fluid{
	width:100%;
	height:100%;
	position:absolute;
}
.container{
	
	width:90%;
	height:90%;
	position:absolute;
	left:5%
	
}

#navbar {
	width:100%;
	background:teal;
	padding-top:25px;
	padding-bottom:25px;
	z-index:10;
}
#navbar h1#navtitle{
	color:#fff;
	font-size:20px;
	padding-left:10px;
	display:inline;
}
#navbar ul#navlinks{
	display:inline;
	list-style:none;
	position:absolute;
	top:10px;
	right:10px;
	
}
#navbar ul#navlinks li{
	border:1px solid white;
	width:100px;
	text-align:center;
	border-bottom-left-radius:5px;
	display:inline;
	padding:5px 10px 5px 10px;
}
#navbar ul#navlinks li a{
	color:#fff;
	text-decoration:none;
}